{
	"srvAcct":"fivem",
	"srvPassword":"change-me",
	"mysql_user":"admin",
	"mysql_password":"change-me-too-but-different-and-long-af-cause-phpadmin-can-use-this-account",
	"steam_webApiKey":"put a valid steam key here",
	"sv_licenseKey":"put your fivem license here",
	"blowfish_secret":"another-hopefully-long-and-different-password",
	"DBPSWD":"this-is-the-root-db-password--make-it-super-long-and-different"
}
