###############################################################################################
###############################################################################################
#####
#####
#####      Grand Theft Auto
#####           FiveM
#####   KDefault Server Config
#####
#####
###############################################################################################
###############################################################################################

# vMenu
set es_enableCustomData 1

#
set mysql_connection_string "server=<SERVERIP>;database=essentialmode;uid=<MYSQL-USER>;password=<MYSQL-PASS>"

# EasyAdmin
set ea_LanguageName "en"                # set our language to english
set ea_MenuButton "289"                 # set our menu button to F2. default: "289"
set ea_alwaysShowButtons "false"        # we don't want to see buttons we can't even access, do we? default: "false"
set ea_moderationNotification "false"   # this can be either "false" or a discord webhook address, this will send a discord message if an admin takes actions against a player  ( such as banning and kicking )
set ea_custombanlist "true"

# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# vMenu Permissions
exec vmenu.cfg

# Start Mod Resources
exec resources.cfg

# Start Map Resources
exec resources-maps.cfg

# Admin/Moderators
exec admin.cfg

#
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

# Easy Admin Permissions
add_ace group.moderator easyadmin.kick allow                # allow kicking
add_ace group.moderator easyadmin.spectate allow            # allow spectating
add_ace group.moderator easyadmin.teleport allow            # allow teleportation
add_ace group.moderator easyadmin.slap allow                # allow slapping
add_ace group.moderator easyadmin.freeze allow              # allow freezing

add_ace group.admin easyadmin allow






# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
rcon_password "rconkey"

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "roleplay"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname
sv_hostname "Default Server"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# System Admin
#####################
add_ace group.admin command allow                       # allow all commands
add_ace group.admin command.quit deny                   # but don't allow quit
add_principal identifier.steam:unknown group.admin      # add the admin to the group


# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 32

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey


#
restart sessionmanager
